@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;900&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

html,
body {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}

ul {
    list-style: none;
}


/* HEADER */

header {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(img/header-bg.jpg);
    background-size: cover;
    justify-content: flex-start;
}

.header-top {
    display: flex;
    width: 88%;
    margin: 2.8rem auto;
    justify-content: space-between;
    align-items: center;
    flex-basis: content;
}

.logo {
    font-size: 2.8rem;
    letter-spacing: 2px;
    margin-left: -2px;
}

.header-nav {
    display: flex;
}

.nav-link {
    padding: 1.8rem 2rem;
    font-size: 1.8rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    flex-basis: 80vh; 
    justify-content: center;
    align-items: center;
}

.hero-headline {
    font-size: 4.5rem;
    font-weight: 400;
}

.hero-text > p {
    font-size: 2.3rem;
    margin: .6rem 0;
}

.hero-btn {
    background-color: rgb(253, 184, 55);
    padding: 1.1rem 2.3rem;
    font-size: 1.2rem;
    border-radius: 2.4rem;
}

/* DESCRIPTION */
.description {
    width: 58%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.description-headline,
.description-text {
    text-align: center;
}

.description-headline {
    font-size: 2.5rem;
    margin: 3rem 0;
    font-weight: 500;
}

.description-text {
    font-size: 1.6rem;
    line-height: 2.3rem;
    font-weight: 400;
}

.first-text {
    margin-bottom: 2.5rem;
}

.description-points {
    display: flex;
    flex-direction: row;
    margin: 5rem 0;
    position: relative;
}

.description-points:before {
    content: '';
    display: block;
    position: absolute;
    height: 1rem;
    top: -3rem;
    width: 100%;
    background-color: rgb(224, 201, 141);
}
.description-points p {
    margin-top: 1rem;
}
.compass::before {
    content: '';
    display: block;
    position: absolute;
    width: 25%;
    height: 1rem;
    top: -3rem;
    left: 22.5rem;
    background-color: goldenrod; 
}

.compass > i {
    color: goldenrod;
}
.camping,
.compass,
.plane,
.weather {
    width: 25%;
    text-align: center;
    margin: 0 1rem;
    font-size: 1.5rem;
}

i {
    font-size: 9rem;
    margin-bottom: 1.5rem;
}
